<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ 'rtl' if is_rtl() else 'ltr' }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Details || Wastey || Waste Pickup Service HTML Template</title>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/ozone/website/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/ozone/website/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/ozone/website/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/ozone/website/images/favicons/site.webmanifest">

    <!-- plugins Styles -->
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/ozone/website/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/wastey-icons.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/animate.css">

    <!-- template Styles -->
    <link rel="stylesheet" href="/assets/ozone/website/css/style.css">
    <link rel="stylesheet" href="/assets/ozone/website/css/responsive.css">
    {% if accessibility %}{% include "accessibility/templates/includes/head.html" %}{% endif %}
    {% if accessibility %}<link rel="stylesheet" href="/assets/ozone/website/css/accessibility-theme.css">{% endif %}

</head>

<body>
    {% if accessibility %}{% include "accessibility/templates/includes/skip_link.html" %}{% endif %}

    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><!-- /.preloader -->

    <div class="page-wrapper">

        {% include "ozone/templates/includes/website_header.html" %}

        <section class="page-header" style="background-image: url(/assets/ozone/website/images/backgrounds/page-header-bg-1.jpg);">
            <div class="container">
                <h2 class="text-uppercase">Case Details</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><span>Case Details</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="case-details__main">
            <div class="container">
                <div class="block-title text-center">
                    <h2>Stanford University</h2>
                    <div class="block-title__text">How to pursue pleasure rationally encounter consequences that are
                        extremely painful. Nor again is there <br> anyone who loves or pursues or desires to obtain pain
                        off.</div><!-- /.block-title__text -->
                </div><!-- /.block-title -->
                <div class="case-details__meta">
                    <hr>
                    <div class="row no-gutters">
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="case-details__meta-single">
                                <i class="wastey-icon-81"></i>
                                <h3>Client</h3>
                                <p>Stanford University</p>
                            </div><!-- /.case-details__meta-single -->
                        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="case-details__meta-single">
                                <i class="wastey-icon-82"></i>
                                <h3>Date</h3>
                                <p>November 21, 2019</p>
                            </div><!-- /.case-details__meta-single -->
                        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="case-details__meta-single">
                                <i class="wastey-icon-83"></i>
                                <h3>Category</h3>
                                <p>Education & Recycle</p>
                            </div><!-- /.case-details__meta-single -->
                        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="case-details__meta-single">
                                <i class="wastey-icon-84"></i>
                                <h3>Location</h3>
                                <p>California, USA</p>
                            </div><!-- /.case-details__meta-single -->
                        </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                    </div><!-- /.row -->
                    <hr>
                </div><!-- /.case-details__meta -->
            </div><!-- /.container -->
        </section><!-- /.case-details__main -->

        <div class="case-details__challenge">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="case-details__content">
                            <div class="case-details__content-icon">
                                <i class="wastey-icon-85"></i>
                            </div><!-- /.case-details__content-icon -->
                            <h3>Needed to Improve Their Campus.</h3>
                            <p>How all this mistake idea of denouncing pleasure praising pain born & will give you
                                completed your account great pleasure.</p>
                            <a href="#" class="case-details__content-link"><i
                                    class="fa fa-download"></i>Challenges.pdf</a>
                            <!-- /.case-details__content-link -->

                        </div><!-- /.case-details__content -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-8">
                        <div class="case-details__content">
                            <div class="case-details__images">
                                <img src="/assets/ozone/website/images/case/case-d-1-1.jpg" class="img-fluid" alt="">
                                <h3>Challenges</h3>
                            </div><!-- /.case-details__images -->
                            <p>Equal blame belongs to those who fail in their duty through weaknes of will which is the
                                same as saying through shrinking from toil and pain. These cases are perfectly simple
                                and easy to distinguish. In a free hour, when our power of choice is untrammelled and
                                when nothing prevents.</p>
                            <p>Duty through weaknes of will which is the same as saying through shrinking from toil &
                                pain these cases are perfectly simple and easy to distinguish.</p>
                        </div><!-- /.case-details__content -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.case-details__challenge -->
        <div class="case-details__challenge">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="case-details__content">
                            <div class="case-details__content-icon">
                                <i class="wastey-icon-86"></i>
                            </div><!-- /.case-details__content-icon -->
                            <h3>Capture More Recycling and Pick-up.</h3>
                            <p>When our power of choice is untrammelled and when nothing prevents our being able to
                                do what like best, every pleasure is welcomed.</p>
                            <a href="#" class="case-details__content-link"><i
                                    class="fa fa-download"></i>Solutions.pdf</a>
                            <!-- /.case-details__content-link -->

                        </div><!-- /.case-details__content -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-8">
                        <div class="case-details__content">
                            <div class="case-details__images">
                                <img src="/assets/ozone/website/images/case/case-d-1-2.jpg" class="img-fluid" alt="">
                                <h3>Our Solutions</h3>
                            </div><!-- /.case-details__images -->
                            <p>Duty through weakness of will, which is the same as saying through shrinking from toil
                                pain these cases are perfectly simple and easy to distinguish. In a free hour, when our
                                power of choice is untrammelled & when nothing prevents</p>
                            <ul class="case-details__list list-unstyled">
                                <li>
                                    <i class="wastey-icon-58"></i>
                                    <h4>Reporting + Transparency</h4>
                                    <p>Every pleasure is to be welcomed and every pain avoided but in certain
                                        circumstances & owing to the claims of duty or the obligations of business.</p>
                                </li>
                                <li>
                                    <i class="wastey-icon-58"></i>
                                    <h4>Reduced Truck Trips + Recycling Contamination</h4>
                                    <p>Idea of denouncing pleasure and praising pain was born and will give you a
                                        complete account of system and expound the actual teachings of the great
                                        explorer.</p>
                                </li>
                            </ul><!-- /.case-details__list list-unstyled -->
                        </div><!-- /.case-details__content -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.case-details__challenge -->

        <section class="case-details__pagination">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="case-details__pagination-left">
                            <div class="case-details__pagination-thumb">
                                <img src="/assets/ozone/website/images/case/case-d-post-1-1.jpg" alt="">
                            </div><!-- /.case-details__pagination-thumb -->
                            <div class="case-details__pagination-content">
                                <p><i class="far fa-folder"></i> Construction</p>
                                <h3><a href="/case-details">Material Recovery at JJ Arc</a></h3>
                                <span><i class="fa fa-long-arrow-alt-left"></i>Prev Case</span>
                            </div><!-- /.case-details__pagination-content -->
                        </div><!-- /.case-details__pagination-left -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                        <a class="case-details__pagination-more" href="/case-2"><i class="fa fa-th"></i></a>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="case-details__pagination-right">
                            <div class="case-details__pagination-thumb">
                                <img src="/assets/ozone/website/images/case/case-d-post-1-2.jpg" alt="">
                            </div><!-- /.case-details__pagination-thumb -->
                            <div class="case-details__pagination-content">
                                <p><i class="far fa-folder"></i> Government</p>
                                <h3><a href="/case-details">Urban Cleaning in NY City</a></h3>
                                <span><i class="fa fa-long-arrow-alt-right"></i>Next Case</span>
                            </div><!-- /.case-details__pagination-content -->
                        </div><!-- /.case-details__pagination-left -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.case-details__pagination -->


        <section class="related-cases">
            <div class="container">
                <h3 class="related-cases__title">Related Case Studies</h3><!-- /.related-cases__title -->
                <div class="owl-carousel thm__owl-carousel related-cases__carousel" data-options='{
                    "items": 3, "margin": 30, "nav": false, "smartSpeed": 700, "dots": false, "loop": true, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": true, "responsive": {
                        "0": {
                            "items": 1,
                            "margin": 0
                        },"480": {
                            "items": 1,
                            "margin": 0
                        },
                        "767": {
                            "items": 2,
                            "margin": 30
                        },
                        "991": {
                            "items": 2,
                            "margin": 30
                        },
                        "1199": {
                            "items": 3,
                            "margin": 30
                        }
                    }
                }'>
                    <div class="item">
                        <div class="case-two__single">
                            <div class="case-two__image"
                                style="background-image: url(/assets/ozone/website/images/case/case-2-1.jpg);">
                            </div><!-- /.case-two__image -->
                            <div class="case-two__content">
                                <a href="/case-details" class="case-two__more-link"><i
                                        class="far fa-angle-right"></i></a>
                                <div class="case-two__meta">
                                    <a href="/case-details">Government</a>
                                </div><!-- /.case-two__meta -->
                                <h3><a href="/case-details">Material Recovery</a></h3>
                            </div><!-- /.case-two__content -->
                        </div><!-- /.case-two__single -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="case-two__single">
                            <div class="case-two__image"
                                style="background-image: url(/assets/ozone/website/images/case/case-2-2.jpg);">
                            </div><!-- /.case-two__image -->

                            <div class="case-two__content">
                                <a href="/case-details" class="case-two__more-link"><i
                                        class="far fa-angle-right"></i></a>
                                <div class="case-two__meta">
                                    <a href="/case-details">Education</a>
                                </div><!-- /.case-two__meta -->
                                <h3><a href="/case-details">Stanford University</a></h3>

                            </div><!-- /.case-two__content -->
                        </div><!-- /.case-two__single -->
                    </div><!-- /.item -->
                    <div class="item construction">
                        <div class="case-two__single">
                            <div class="case-two__image"
                                style="background-image: url(/assets/ozone/website/images/case/case-2-3.jpg);">
                            </div><!-- /.case-two__image -->

                            <div class="case-two__content">
                                <a href="/case-details" class="case-two__more-link"><i
                                        class="far fa-angle-right"></i></a>
                                <div class="case-two__meta">
                                    <a href="/case-details">Construction</a>
                                </div><!-- /.case-two__meta -->
                                <h3><a href="/case-details">Waste to Energy</a></h3>

                            </div><!-- /.case-two__content -->
                        </div><!-- /.case-two__single -->
                    </div><!-- /.item -->
                    <div class="item government">
                        <div class="case-two__single">
                            <div class="case-two__image"
                                style="background-image: url(/assets/ozone/website/images/case/case-2-4.jpg);">
                            </div><!-- /.case-two__image -->

                            <div class="case-two__content">
                                <a href="/case-details" class="case-two__more-link"><i
                                        class="far fa-angle-right"></i></a>
                                <div class="case-two__meta">
                                    <a href="/case-details">Grocery Store</a>
                                </div><!-- /.case-two__meta -->
                                <h3><a href="/case-details">Urban Cleaning</a></h3>

                            </div><!-- /.case-two__content -->
                        </div><!-- /.case-two__single -->
                    </div><!-- /.item -->
                    <div class="item grocery">
                        <div class="case-two__single">
                            <div class="case-two__image"
                                style="background-image: url(/assets/ozone/website/images/case/case-2-5.jpg);">
                            </div><!-- /.case-two__image -->

                            <div class="case-two__content">
                                <a href="/case-details" class="case-two__more-link"><i
                                        class="far fa-angle-right"></i></a>
                                <div class="case-two__meta">
                                    <a href="/case-details">Government</a>
                                </div><!-- /.case-two__meta -->
                                <h3><a href="/case-details">Material Recovery</a></h3>

                            </div><!-- /.case-two__content -->
                        </div><!-- /.case-two__single -->
                    </div><!-- /.item -->
                    <div class="item construction">
                        <div class="case-two__single">

                            <div class="case-two__image"
                                style="background-image: url(/assets/ozone/website/images/case/case-2-6.jpg);">
                            </div><!-- /.case-two__image -->

                            <div class="case-two__content">
                                <a href="/case-details" class="case-two__more-link"><i
                                        class="far fa-angle-right"></i></a>
                                <div class="case-two__meta">
                                    <a href="/case-details">Education</a>
                                </div><!-- /.case-two__meta -->
                                <h3><a href="/case-details">Stanford University</a></h3>

                            </div><!-- /.case-two__content -->
                        </div><!-- /.case-two__single -->
                    </div><!-- /.item -->
                </div><!-- /.row -->

            </div><!-- /.container -->
        </section><!-- /.related-cases -->

        <section class="main-footer-wrap">
            <div class="main-footer__bg" style="background-image: url(/assets/ozone/website/images/backgrounds/footer-bg-1-1.jpg);">
            </div><!-- /.main-footer__bg -->
            <section class="cta-one">
                <div class="container wow fadeInUp" data-wow-duration="1500ms">
                    <div class="inner-container"
                        style="background-image: url(/assets/ozone/website/images/backgrounds/cta-bg-1-1.jpg);">
                        <div class="cta-one__content">
                            <h3>We Provide Superior Value, Service & Effort.</h3>
                            <p>Combined with a handful of model sentence structures, to generate.</p>
                        </div><!-- /.cta-one__content -->
                        <div class="cta-one__btn-block">
                            <a href="/services" class="thm-btn">More Details</a>
                        </div><!-- /.cta-one__btn-block -->
                    </div><!-- /.inner-container -->
                </div><!-- /.container -->
            </section><!-- /.cta-one -->

            {% include "ozone/templates/includes/website_footer.html" %}

    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    {% include "ozone/templates/includes/website_offcanvas.html" %}


    <!-- plugins Scripts -->
    <script src="/assets/ozone/website/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/ozone/website/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/ozone/website/js/bootstrap-select.min.js"></script>
    <script src="/assets/ozone/website/js/TweenMax.min.js"></script>
    <script src="/assets/ozone/website/js/wow.min.js"></script>
    <script src="/assets/ozone/website/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/ozone/website/js/jquery.validate.min.js"></script>
    <script src="/assets/ozone/website/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/ozone/website/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/ozone/website/js/owl.carousel.min.js"></script>
    <script src="/assets/ozone/website/js/theme.js"></script>
    {% if accessibility %}{% include "accessibility/templates/includes/scripts.html" %}{% endif %}

</body>

</html>